#header {
    position:relative;
}

#header-pic {
    width: 100%;
}

#header-text {
    position:absolute;
    top: 6rem;
    right: 5rem;
    color: white;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.propic {
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
}

#dancers {
    background-color: lightgray;
}

.footer {
    background-color: lightgray;
}