:root {
    --light: #fdfcfc !important;
    --medium: #e1dddd;
    --dark: #37262a !important;
    --lightgray: #c3c2bf;
    --gray: #373434 !important;
    --link: #f03f48 !important;
    --hover: #f4afaf !important;
}

html, body {
    font-family: 'Hind', sans-serif !important;
    font-weight: 300 !important;
    font-stretch: condensed !important;
}

body {
    position: relative;
}

h2 {
    color: var(--dark) !important;
    font-size: 1.75rem !important;
    font-weight: 300 !important;
}

h5 {
    color: var(--dark) !important;
    font-weight: 300 !important;
    font-size: 1.2rem !important;
}

p {
    color: var(--dark) !important;
    font-size: 0.85rem !important;
}

a {
    font-size: 0.85rem !important;
    color: var(--link) !important;
}

a:hover, a:active {
    color: var(--hover) !important;
}

.gray {
    color: var(--lightgray) !important;
}

.large-text {
    font-size: 0.95rem !important;
}

.navbar {
    background-color: var(--gray);
}

.navbar a {
    text-transform: uppercase !important;
    font-size: 0.9rem !important;
    color: var(--medium) !important;
    font-weight: 500;
    margin: 0.25rem;
}

.navbar a:hover, .navbar a:active {
    color: var(--light) !important;
}

.section-border {
    border-top: 1px solid var(--medium) !important;
}

.accent-gray-bg {
    background-color: var(--light);
}

#header {
    position: relative;
    height: 100vh;
}

#header-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header-image img {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
}

.overlay {
    position:absolute;
    background-color:var(--dark);
    opacity:0.4;
    width: 100%;
    height: 100%;
    z-index:1;
}

#header-logo {
    width: 10%;
    position: absolute;
    top: 35%;
    left: 45%;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.img-container {
    padding: 1.5rem 1.25rem 1rem;
}

.propic {
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--medium);
}

.tab-pane {
    padding: 2rem 1rem 0;
    text-align:center;
}

.iframe-container {
    overflow:hidden;
    padding-top: 50%;
    position:relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 5%;
    position: absolute;
    top: 0;
    width: 90%;
}

iframe {
    widthh: 90%;
}

.fa {
    padding: 1rem;
    color: var(--dark);
}

.fa:hover {
    color: var(--link);
}

.footer {
    background-color: var(--gray);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer p {
    color: var(--medium) !important;
}